<div class="about-section" id="aboutId">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="assets/images/headmaster.jpg" alt="head master" class="header-master" />
      </div>
      <div class="col">
        <div class="headmaster-speech">
          <!-- <div class="quote-container left-quote">
            <img src="assets/images/quote.png" alt="quote" class="quote" />
          </div> -->
          <div class="speach-container">
            <p class="speach-content">
              "Urutoraman Urutoraman Urutoraman Urutoraman Urutoraman
              Urutoraman Urutoraman Urutoraman Urutoraman Urutoraman
              Urutoraman Urutoraman Urutoraman Urutoraman Urutoraman"
            </p>
          </div>
          <!-- <div class="quote-container right-quote">
            <img src="assets/images/quote.png" alt="quote" class="quote" />
          </div> -->
          <div class="footer">
            <p class="name">Sauqi San</p>
            <p class="role">Richman</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
