<mat-toolbar class="tiny-information-section">
<span class="section-email">
  <i class="fa-regular fa-envelope"></i>
  EmailSekolah&#364;gmail.com
</span>
<span class="section-phone">
  <i class="fa-solid fa-phone"></i> 081293829290
</span>
<span class="spacer"></span>
<div class="information-flag">
  <img src="assets/images/indonesia.png" alt="indonesian flag" class="flag indonesian-flag" style="margin-right: 10px;"/>
  <img src="assets/images/united-kingdom.png" alt="british flag" class="flag britis-flag" style="margin-right: 10px;"/>
</div>
</mat-toolbar>
